name: Job de Recomendações (Diário)

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:

jobs:
  run-recommender:
    name: Gerar Recomendações
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Instalar Dependências
        run: |
          pip install -r requirements.txt


      - name: Executar Script Python
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          MY_USER_POOL_ID: ${{ secrets.MY_USER_POOL_ID }}
          SUPABASE_DB_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
        run: python jobs/recommendation_table_job.py